.venv/
tests/
testLogging.py
logfile.log
.vscode/
testDatetime.py
*.pyc
*.pyc
frontend/node_modules/
bin/
lib/
backend/pyvenv.cfg
backend/include/site/python3.9/greenlet/greenlet.h
backend/.env.db
backend/.env
